.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.cl{
    background-color: #1A0B2E;
}
.cl2{
    background-color: #230E3D;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: px;
}
.nav-menu li{
    list-style: none;
}
.bi{
    max-width: 1600px;
    margin: auto;
}
.banner{
    background-image: url("../assets/hero-bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.circle{
    position: relative;
    bottom: 90px;
}
.mic{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.container1{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.first{
    grid-column: span 1;
    grid-row: span 2;
}

.second{
    grid-column: span 2;
    grid-row: span 1;
}
.third{
    grid-column: span 2;
}
.container2{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}.fourth{
    grid-column: span 2;
}
footer{
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width:576px) {
    .container1{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .container2{
        grid-template-columns: repeat(1, 1fr);
    }
    .first{
        grid-column: span 1;
        grid-row: span 1;
    }
    .second{
        grid-column: span 1;
        grid-row: span 1;
    }
    .third{
        grid-column: span 1;
    }
    .container2{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .fourth{
        grid-column: span 1;
    }

    .banner{
        background-image: url("../assets/hero-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
    .circle{
        position: relative;
        bottom: -90px;
}
    .mic{
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
}
footer{
    background-size: cover;
    background-position: center;
}
}