.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.bg{
    background-color: #412567;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.nav-menu li{
    list-style: none;
}
.bi{
    max-width: 1600px;
    margin: auto;
}